/*Variables*/
:root {
    --title-color: #e53170;
    --link-color: #00d9ff;
    --card-bg-color: #000;
    --text-color: #fff;
}

/*debug*/
.debug {
    border: 1px solid red;
}

h1 {
    font-weight: 700;
    color: var(--title-color);
    padding-bottom: 30px;
}

h2 {
    font-weight: 600;
    font-size: 1.3em;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f5f5f5;
}

.card-custom {
    background-color: var(--card-bg-color);
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.card-custom img {
    width: 100%;
    border-radius: 5px;
}

.card-custom h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.card-custom a {
    color: var(--link-color);
    text-decoration: none;
}

.width70per {
    width: 70%;
}

.width30per {
    width: 30%;
}

.mineBtn {
    color: #fff;
    background-color: var(--title-color);
    border-color: var(--title-color);
}